[2013-01-13 20:44] srainsdon opened #1 "Compile errors with containsAtLeast"
I could just be doing something wrong but here is what i get after importing it to eclipes and linking the bukkit jar file. am i missing something?
## Error 1:

The method containsAtLeast(ItemStack, int) is undefined for the type Inventory
InventoryHalfStack.java
/ByteCart/src/com/github/catageek/ByteCart/IO
line 272
Java Problem
## Error 2:

The method containsAtLeast(ItemStack, int) of type Inve

[2013-01-13 23:50] githubnemo opened #2 "op status needed to create various signs"
Apparently one needs to be op to place the BC9001 sign.

I assigned the BC9001 permission to users directly but they were not able to create
station signs. The error message was `You are not authorized to place Station block. You must have bytecart.`.

Same goes for 9000, 9002 and others.

[2013-01-14 12:39] #1 closed, assigned to catageek

[2013-01-14 23:09] #2 closed, assigned to catageek

[2013-01-18 00:03] githubnemo opened #4 "Feature Request: Use written books as destination markers"
It would be cool if, instead of items placed as an address, a written book containing the destination address would be used.

This would've the following benefits:
- Less space consumption
- It has the feeling of a ticket (like in the real world!)
- It is easier to process internally
- Less fiddle with the inventory

What do you think?

[2013-01-20 00:08] #4 closed, assigned to catageek

[2013-02-28 03:21] trsupernothing opened #5 "Error while trying to set up my first router."
I am not sure if this is an issue due to me perhaps improperly setting up my first router.  After hours of failing to get an updater cart to travel through the router, I was also unable to get it to update any bc8010 signs with an address.  I then saw in the console with the following errors each time send an updater cart passed the first bc8010 sign.

21:13:42 [INFO] ByteCart : Updater : cart lev

[2013-03-02 00:31] #5 closed, assigned to catageek

[2013-03-12 07:45] KRDucky opened #6 "Routers and networks do not respond"
Whenever I set up the routers and switches according to your instructions, I place a cart to test and use the command /sendto 1.1.0. I right click the cart and send it on it's way. The cart never routes through. /bcupdater does nothing. The plugin is not working other than to say when I have created signs etc. The function does not work.
I have a pastebin file of the SEVERE error codes on the serv

[2013-03-12 18:11] #6 closed, assigned to catageek

[2013-03-13 13:36] KRDucky opened #7 "Router still not working new pastebin"
http://pastebin.com/wmddPadd

Perhaps you could provide indepth videos on how to do it?

[2013-03-16 03:41] githubnemo opened #8 "Negated 9*** signs"
It should be possible to have a sign which activates when the destination is _not_ the right one, thus, making it easier to pass carts through.

An example sign would be this:

[code]

This sign would only power on if the station 0.1.0 does not match.

While this is already possible, it is not feasible to list all possible stations on one sign. Therefore this black listing approach is suited bette

[2013-03-18 12:41] #7 closed, assigned to catageek

[2013-03-27 03:00] githubnemo opened #9 "No default route + BC9001 => NullPointerException"
If no default route for empty carts is set and the cart enters a BC9001 sign, `trigger()`
throws an `NullPointerException`, as `getInventory()` in `addIO()` returns `null`.

There should be an invalid address, which is returned when an empty or null inventory
is passed to `getAddress(<inventory>)`, so that this error can be circumvented.

Tested with bed05f3281a743284214d4991bdb8491b71346f4.

[2013-03-30 22:19] #8 closed, assigned to catageek

[2013-04-11 04:06] Thedragon25419 opened #15 "Error when trying to load plugin"
2013-04-10 20:57:25 [SEVERE] Could not load 'plugins/ByteCart-1.3.4.jar' in folder 'plugins'
org.bukkit.plugin.InvalidPluginException: java.lang.UnsupportedClassVersionError: com/github/catageek/ByteCart/ByteCart : Unsupported major.minor version 51.0
    at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.java:184)
    at org.bukkit.plugin.SimplePluginManager.loadPlugin(SimpleP

[2013-04-11 22:56] #15 closed, assigned to catageek

[2013-04-13 16:04] Thedragon25419 opened #16 "Carts not going into station"
For some reason my carts are going to the correct ring but not into the station.

[2013-04-14 06:11] #16 closed, assigned to catageek

[2013-04-14 17:56] andrepl opened #17 "Router & Stations autoconfigured correctly but carts do not stop."
I've got a little further with the tutorial, I've successully built the router and 3 rings, 2 of which only have 1 station each, and the 3rd ring has 2.  `/bcupdater region 1` and `/bcupdater local 1` both seemed to work properly. my BC8010 signs were given the addresses 1.0.0 - 1.3.0 and all stations also recieved appropriate addresses.  when I test the system the carts always seem to get to the

[2013-04-15 19:19] #17 closed, assigned to catageek

[2013-04-15 20:50] andrepl opened #18 "Errors w/ region updater after adding 2nd router."
I added a new router and connected it to my existing one, attempted to launch the region updater cart, and it immediate threw itself in the trash and logged this error:

16:22:04 [INFO] metalhedd issued server command: /bcupdater region 1
16:22:07 [SEVERE] Could not pass event VehicleMoveEvent to ByteCart v1.4.2
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execu

[2013-04-15 21:24] #18 closed, assigned to catageek

[2013-08-11 06:11] catageek opened #21 "Reset_local updater kept in infinite loop in subrings"
Bug present since v2.0.1

[2013-08-11 06:13] catageek opened #22 "Derailed carts keep their speed and move on ground when constantspeed is set to true"
Bug present since v2.0.3

[2013-08-11 06:57] #21 closed, assigned to catageek

[2013-08-11 07:33] #22 closed, assigned to catageek

[2013-08-12 21:36] catageek opened #25 "A full local reset does not erase address on output signs of subrings"
As said on title.

[2013-08-13 20:05] #25 closed, assigned to catageek

[2013-08-21 13:43] instinxx opened #26 "Java version"
Any chance this can be built against Java6? Im running on OSX 10.6.8 and cannot use Java 7.

[2013-08-23 20:14] #26 closed, assigned to catageek

[2013-09-01 10:35] instinxx opened #27 "Version 2.1.2 NPE in log. Could be due to BC7018 trying to remove a ticket when one did not exist."
Log entry:
http://hastebin.com/gagevujesi.avrasm

I am going to update to latest version now as well.

[2013-09-07 14:54] #27 closed, assigned to catageek

[2013-11-07 08:02] RigelZ opened #28 "Could not load 'plugins/ByteCart.jar' after update to 2.7.1"
Upgraded to version 2.7.1 to fix null pointer issue when an updater enters a router.

java version "1.7.0_45"
OpenJDK Runtime Environment (rhel-2.4.3.2.el6_4-x86_64 u45-b15)
OpenJDK 64-Bit Server VM (build 24.45-b08, mixed mode)

2013-11-06 23:51:06 [INFO] This server is running CraftBukkit version git-Bukkit-1.6.4-R2.0-b2918jnks (MC: 1.6.4) (Implementing API version 1.6.4-R2.0)
2013-11-06 23:51:0

[2013-11-07 21:50] #28 closed, assigned to nobody

[2013-11-08 22:25] alaskascooter opened #29 "When Running BCUpdater region 1, error occurs when cart enters router:"
Ran /bcupdater region 1 and sent cart. The following error occurs when cart enters router.

5:20:54 PM CONSOLE: [SEVERE] Could not pass event VehicleMoveEvent to ByteCart v2.7.1
5:20:54 PM CONSOLE: java.lang.IllegalArgumentException: n must be positive

Cart is now stuck in one ring.

I will try removing all books from routers to see if problem persists.

[2013-11-08 22:36] #29 closed, assigned to nobody

[2014-01-07 21:55] ghost opened #30 "While setting up a router..."
I got an error that says i am not authorized to place an L1 router block.  It also says that I need something called Bytecart.BC8010 Please help

Thanks in advance

[2014-01-08 05:45] #30 closed, assigned to nobody

[2014-02-02 16:02] Johny96 opened #31 "[ERROR]: Could not pass event VehicleMoveEvent to ByteCart v2.7.3 org.bukkit.event.EventException"
Hi, I'm getting this error every time, when updater cart goes over BC8010 sign and then the cart is stucked in the router in a loop and never leaves the router. Even if I remove the book in chest above router and run /bcupdater again, it ends in same sitaution.

Using Bukkit 1.7.2-R0.2 build #2974 and ByteCart v2.7.3

Log:
http://pastebin.com/hkq4LYZj

[2014-02-02 22:16] #31 closed, assigned to catageek

[2014-09-01 21:28] mydayy opened #32 "Error and problem"
The router dont do what he should. I build it like tutorial with one ring but the update dont complete and the train drive in endless. I get this Error Message:
[18:12:14 ERROR]: Could not pass event VehicleMoveEvent to ByteCart v2.7.3
org.bukkit.event.EventException
    at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:427) ~[craftbukkit172.jar:git-Bukkit-1.7.2-R0.2-b2974

[2014-09-28 11:37] Johny96 opened #33 "Problem with default address for players or storage carts with not ticket"
I have problem with this new function because if I have after 7018 sign, which deletes my ticket, another sign (in my case it's 7001) and when I go along this sign I get new ticket to 0.0.0. And because this is very annoying I want to ask is there any chance to change the code to obtain this ticket with default address only if player/storage cart goes over 8010/8020 sign?

[2014-09-29 18:32] #33 closed, assigned to catageek

[2014-10-30 16:33] #9 closed, assigned to catageek

[2014-10-30 16:34] #32 closed, assigned to catageek

[2015-03-01 18:00] thiefa opened #34 "Bukkit/Spigot 1.8 Combatibility?"
Hi Catageek,
Any chance you update Bytecart to be 1.8 Bukkit / Spigot combatible?

If tested it on 1.8, as i want to switch from 1.7.9 to 1.8+, but it dosent work. i can get a ticket from the signs, but routers wont switch :(

would be nice if you could make it work with 1.8+.

[2015-03-03 11:31] dewick commented on #34
Looks like it can't read from books
[code][ERROR] Could not pass event VehicleMoveEvent to ByteCart v2.7.5
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:305) ~[spigot.jar:git-Spigot-c3c767f-33d5de3]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot.jar:git-Spigot-c3c767f-33d5de3]

[2015-03-05 05:53] catageek commented on #34
I need to take some time to check that. I never tried the spigot version of craftbukkit.

[2015-03-05 09:50] thiefa commented on #34
take yoour time.
thank you for keeping the plugin up and running :)

[2015-03-07 11:57] catageek commented on #34
I have good news and bad news.

The good news is that I found the first issues with 1.8 and they can be solved.

The bad news is that MC1.8 broke the books and they must be regenerated. The books in the chest above routers must be manually deleted. Thanks to the bcupdater command, they will be automatically created with an updater cart.

The other bad news is that this [bug](http://www.spigotmc.or

[2015-03-07 12:38] thiefa commented on #34
well,
i can live with the book deleting thing.
anyway have expanded my network and need to run a full update.

now i just need a good solution for updating networks across worlds, but i guess i will use fake router, with the others world network ip, and after the backbone has been updated with the fake router ip, i will set back the teleport-signs :)

[2015-03-07 17:34] catageek commented on #34
I am now stopped at the redstone not updated when a lever is switched. The lever is actually updated, but the redstone is not. I am not sure to find a workaround for this one as I used an obscure trick that bergerkiller was using in TrainCarts and it does not work anymore.
Unfortunately bergerkiller did not update his plugins and there is no documentation on how to replace this trick.

If you know

[2015-03-07 18:21] thiefa commented on #34
ok,
will keep my eyes open

[2015-03-07 20:02] Welfare93 commented on #34
Could you please point us to the section of code where you switch lever?
I am not sure, so this is just a idea. With 1.8 and new metadata system is possible that switching lever by old system (Lever a; a.setData(a.getData() ^ 0x8); //switching lever with XOR) dont work correctly. Did you try to switch it by new metadata system (Block state)? http://minecraft.gamepedia.com/Lever

[2015-03-07 21:03] catageek commented on #34
The code that switch the lever is [here](https://github.com/catageek/ByteCart/blob/master/src/com/github/catageek/ByteCart/IO/ComponentLever.java#L27). The last line tries to force the physics update of the block where the lever is attached.

It calls a code where the trick is [here](https://github.com/catageek/ByteCartAPI/blob/master/src/com/github/catageek/ByteCartAPI/Util/MathUtil.java#L83). It

[2015-03-08 00:51] catageek commented on #34
please try [this](http://bytecart.catageek.info/bytecart/maven/repositories/snapshots/com/github/catageek/ByteCart/2.8.1-SNAPSHOT/ByteCart-2.8.1-20150308.004256-1.jar). It should work. It worked in my test server.

Don't forget to delete all the books in the chest above the router and launch the region updaters in each region to regenerate them. local updaters are not needed in this case. Books fr

[2015-03-08 11:50] thiefa commented on #34
hi catageek,
thank you for your effort on that :)

i cant download, seems the file name or location are wrong.. im getting an 404.
"Error 404 - Not found

Le fichier requis n'a pas été trouvé. Il peut s'agir d'une erreur technique. Veuillez réessayer ultérieurement. Si vous ne pouvez pas accéder au fichier après plusieurs tentatives, cela signifie qu'il a été supprimé. "

[2015-03-08 12:24] catageek commented on #34
the link was fixed

[2015-03-08 12:35] catageek commented on #34
I advise strongly to backup your world because existing books are causing issues and I had to restore. An old ticket corrupted a chunk. It is mandatory to destroy all books because they are too unstable.

[2015-03-08 12:57] thiefa commented on #34
oki, will test on a copy..
thanks for the reminder

[2015-03-08 13:19] dewick commented on #34
catageek: Can we delete all corrupted books somehow with updater? We have quite a lot of routers and stations (http://map.majncraft.cz/?worldname=world_nether&mapname=nether&zoom=4&x=-145&y=64&z=-335) and I can't imagine removing books one by one :(

[2015-03-08 13:39] thiefa commented on #34
@dewick:

nice network..
mines on http://pia.hopto.org:8123

how did you manage to color the trainlines??? want that to :D

[2015-03-08 13:43] dewick commented on #34
@thiefa: Thanks, these are just lines drawn from dynmap by using dmarker one by one by one guy :)

[2015-03-08 13:52] thiefa commented on #34
oh.. sounds like pain in the *** :D

hoped you maybe manged to get  http://dev.bukkit.org/bukkit-plugins/dyntrack/ working, as this should exactly do that ;)

[2015-03-08 13:59] catageek commented on #34
@dewick here is a new [snapshot](http://bytecart.catageek.info/maven/repositories/snapshots/com/github/catageek/ByteCart/2.8.1-SNAPSHOT/ByteCart-2.8.1-20150308.134709-2.jar) that tries to detect corrupted books and remove them.

Try it with an updater: it should not trigger NullPointerException and put a readable book in the chest.

I already saw your network by googling Bytecart. I also saw your

[2015-03-08 15:02] catageek commented on #34
Hmmm... Everything go to the garbage collector now, except updaters. Expect some new fix later.

[2015-03-08 15:29] thiefa commented on #34
true for your first update

cant say for the second one, right now running the updater with some routers that i didnt have removed the books to check if it works well.

[2015-03-08 21:52] catageek commented on #34
new [snapshot](http://bytecart.catageek.info/maven/repositories/snapshots/com/github/catageek/ByteCart/2.8.1-SNAPSHOT/ByteCart-2.8.1-20150308.214413-3.jar) that fix the routing layers. Books have now color codes automatically inserted, and it broke the tickets decoding. Stripping color codes fix it.

Everything is OK now ?

[2015-03-08 22:46] thiefa commented on #34
hi,
yes seems all to work just fine.
i  give it a go for public release :)

thank you so very mutch :)

1.8, here i am ;)

PS: any way to show my thankfullness?

[2015-03-09 08:31] dewick commented on #34
Not working for us, our bcupdater keeps glitching, looping and ranomly stopping. But I guess it is not ByteCarts fault, but we have some malfunction designs on our BC network that needs to be fixed first :)

Thanks catgeek!

btw.: could you add some kind of detailed info for messages like these? "Tilted sign found. Please straight it up in the axis of the track" - At least world coordinates so we

[2015-03-09 10:44] thiefa commented on #34
@dewick:
im sure i saw the coordinates for the wrongly orientated signs when mine was screwed. if i remember right ( sorry, i could be wrong, quite some time ago..) it was pretty mutch at the bottom of the error.

@catageek:
to add to dewick's wish:
a way to find the updaters on track would be nice.
either a command to get coordinates of the updater, like "bcupdater region x / backbone where" or k

[2015-03-09 10:53] dewick commented on #34
@thiefa A little helpful is https://github.com/webbukkit/Dynmap-Diag addon for Dynmap. It shows loaded chunks, so if you are lucky, you can somehow track down where bcupdater could be riding at the moment. But it is really inaccurate and hunting down moving updater is really pain in the ass :p

[2015-03-09 11:39] thiefa commented on #34
@dewick
dynmap-mobs http://dev.bukkit.org/bukkit-plugins/dynmap-mobs/ does exactly that.. it shows a cart icon on map and gets updated like moving players (a little less frequent), so everyone can track the cart.
thats nice and alot helpfull aslong as the cart is moving, but the cart will vanish from the map if its not moving anymore for what reason ever, and thats where the troubel starts..

[2015-03-09 20:40] catageek commented on #34
@dewick message for tilted signs was added in the [release](http://bytecart.catageek.info/maven/repositories/releases/com/github/catageek/ByteCart/2.8.1/ByteCart-2.8.1.jar). Also, I have an updater that is turning in my network since yesterday without problem, so your problem is not the plugin.

@thiefa You or someone else already asked me that, and I did not have time to implement it. IIRC it is

[2015-03-09 20:40] #34 closed

[2015-03-25 11:52] dewick commented on #34
@thiefa Just one interresting thing I made. I recorded updater for ~10hours and made a timelapse video (thanks to loaded chunks and dynmap-mobs plugin). It looks kinda interresting how the updater is driving around the network :D

https://www.youtube.com/watch?v=EWMuOu2La1Y

[2015-03-29 20:12] thiefa commented on #34
cool vid :)
i often watched the updater on my dynmap, but it looks really nice this way :)

[2015-04-06 17:04] catageek commented on #34
Nice !

I will take the opportunity of this thread to talk about another topic: A server community that I had known some time ago wants to reboot its map. They need a transit system but are afraid about ByteCart that they find complicated.

http://stonelegion.com/threads/stone-legion-reborn-looking-for-ideas-and-suggestions.2698/

May I suggest you to create an account on their forum a put a testi

[2015-04-22 09:32] gomsoop opened #35 "I have some few questions on using Bytecarts"
After seeing your replies about the right sided reply, I just decided not to use the router and just stick with an one-line system :) So here are my questions.

1. Is it impossible to have more than 15 stations by manually adding signs? I'm planning to not make a circular line.

2. Can I name same station id on both sides of the stations?

3. Is there a sign, which identifies the ticket(book)s' re

[2015-04-22 17:08] thiefa commented on #35
hi,
routers can be pain in the ass, if something somehow goes wrong. however if they work, they're just a god's gift :)
from my point, i totally recommend using routers, as it makes possible to have shortlinks, multilinks and other nice stuff.

but if you really want to go without a router, your fine too.
you then use just one region with one ring. like 1.1.xxx, allowing you to have all stations t

[2015-04-22 19:20] catageek commented on #35
Hi,

Thanks a lot @thiefa you are the king !

@gomsoop Let us know if you are OK with the answer of @thiefa. I have nothing to add except that I hope you will have fun with your rail network.

catageek

[2015-04-22 21:03] thiefa commented on #35
hehe,
just helping to spread the word :d

had my good share of exp with bc, till to my current setup.

if you remember my first exel-sheet i send you with my track-setup back then, with no routers but all mixed regions and rings, routing with BC7037 and BC7137 signs :)
i cant remember how often i redid all signs because i had a hickup in the signs, or not enough numbers for stations left.

[2015-05-15 19:57] thiefa opened #36 "Dynmap Signs not showing Stations properly anymore?"
hi,
i just added a new station, and figured out that dynmap dosent show the name anymore, but just the adress. (older stations are shown as usuall (name, followed by adress))
im using dynmap 2.1, with spigot 1.8.3 and bc 2.9.1

cant say for sure if its an actually a bc issue or not, as i havent added stations recently.
will do some tests, but maybe you have an idea just away..

[2015-05-23 09:58] catageek commented on #36
Hi thiefa,

The last version changes a lot the way station names are managed in ByteCart. There may be a bug since It a very fresh feature.

When you create a station without specifying a name, the real name of the station is empty and only the IP is showed on dynmap. There are no more default names.

When you specify a name, then the name is displayed on dynmap with the IP between parenthesis.

T

[2015-05-27 18:41] thiefa commented on #36
hi catageek,
sorry for the long delay, we had/have some cat troubels with our new furry fellows :(

As for the issue:
i wrote on the sign:
2. Line: [BC9001]
3. Line: Station Name
4. Line: Adress

Now in dynmap i only see the adress, not the as befor "stationname (adress)"
it only applies to new stations, old ones are fine. i guess because theire allready imported to dynmap.
having an adress shown

[2015-05-29 22:13] #36 closed

[2015-05-29 22:15] #35 closed

[2015-11-29 19:26] karatemaccie opened #37 "Exception when using mcdmapsync command"
When using the command for dynmap syncing, I get the following exception:

[20:12:52 WARN]: org.apache.commons.lang.UnhandledException: Plugin ByteCart v2.9.2 generated an exception while executing task 3034
        at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)

[2015-11-30 20:14] #37 closed

[2015-11-30 20:15] catageek commented on #37
Thanks for the report

[2016-01-24 15:11] thiefa opened #38 "BC7010 Signs also affects Updater"
hi,
the BC7010 signs also affect updaters, so its a bit bothersome to update regions in a world that has an own player inventory.

because i have to place an BC7010 under the rails, so a player gets to the destination in the new world, while the updater gets that ticket aswell, and then stops updating and goes to the adress instead.

im having to remove every singel BC7010 sign (and i have quite a

[2016-01-25 18:48] catageek commented on #38
Hi,

Can you try [this](http://bytecart.catageek.info/maven/repositories/releases/com/github/catageek/ByteCart/2.9.4/ByteCart-2.9.4.jar) and tell me if it's OK ?

Thx

[2016-01-25 20:20] thiefa commented on #38
hi,
just put it on the server. works like a charm!
thank you so mutch :)

i did a little donation, you did so mutch allready for my server with that plugin.. was about high-time ;)

thanks again :)

[2016-01-25 20:33] catageek commented on #38
You're welcome. Thanks for the donation: it is the first one !

[2016-01-25 20:33] #38 closed

[2016-10-10 08:26] ShadowJonathan opened #39 "Images of how-to guides are missing"
The current how-to guides in the wiki are faulty, there are no pictures present to explain the set-up and construction of both the router and the 5-cart station:

https://github.com/catageek/ByteCart/wiki/Howto-:-Build-a-router

https://github.com/catageek/ByteCart/wiki/Howto-:-A-station-for-5-cart-trains

It would be appreciated if you'd update the images, or re-explain the construction of these

[2016-10-10 08:34] ShadowJonathan commented on #39
Update; seems like some other images are missing as well, like the 3-step tutorial to making a network:

[Step 1 page](https://github.com/catageek/ByteCart/wiki/Step-1-:-A-simple-circular-line)

[Step 2 page](https://github.com/catageek/ByteCart/wiki/Step-2-:-Connect-rings-together)

[Step 3 page](https://github.com/catageek/ByteCart/wiki/Step-3-:-Expand-you-network)

[2016-10-10 12:14] thiefa commented on #39
hi,
yep i agree on missing images!

however, as for the tutorial, i personally prefered to download the tut world catageek made, to look at it.. some stuff is quite difficult and describing it (even with pictures) takes a ton of pages...

Tut-World download link: [http://catageek.free.fr/bytecart/]

if you need further help, we can have a look at my server if you want..

[2016-10-10 13:54] ShadowJonathan commented on #39
I havent seen that link yet, thank you so much for posting that, now i can take a look at some stuff.

That looks very interesting, ill sure take a closer look at home, when i have access to my computer.

[2016-10-10 19:04] catageek commented on #39
Hi all,

Thanks for the report. I used to host them in Imageshack but they closed their free image hosting service to accept only premium users (money is money).

Unfortunately I have no backup of the images and no immediate plan to remake the snapshots. I hope that the link given by @thiefa will help you. @thiefa has also a wonderful map to visit to see Bytecart in action.

I will fix this when I

[2016-10-10 19:17] ShadowJonathan commented on #39
Thank you so much for responding, one tiny thing, the updaters on the minecraft network map you made crazing out, it might need an update and a total reset.

I tried sending a updater cart to region 4, and the cart got stuck between the backbone router and the region plug-in router, there are more cases of this, but this is the most notable one.

[2016-10-10 19:20] ShadowJonathan commented on #39
@thiefa is there any way you can PM me the IP to your server? I wanna see the map.

[2016-10-10 20:43] thiefa commented on #39
hi,
sure thing.
well, duno how to pm here, so i leave the adresse just here...

i home-host  on:
pia.hopto.org:25566

[2016-10-10 21:00] ShadowJonathan commented on #39
Thanks, ill probably join in approximately 18 hours from now, but thank you for the IP, only please make sure to set the right bytecart permissions for people who just join.

[2016-11-24 08:42] LaxSlash opened #40 "bcupdater Questions"
Trying to learn how to use this plugin.

I created two seperate networks. I got both to successfully run "/bcupdater region" - both approx. an hour to do. The I did the local updater on my first network, which has one ring with stations on it (8 stations total). That entre process took about an hour again. When I went to do my second network, it took three to five minutes to process a router with

[2016-11-24 19:23] catageek commented on #40
Hello LaxSlash,

Thank you for your interest in this plugin.

The expiration time is three times the time since the beginning until the last write operation, with a minimum of 1 hour, in other words T = Max((last_write - start) x 3; 1hr).

If the local updater only runs during 10 minutes, it's probably that the loop 0 is not well configured and the local updater took this loop by mistake. The issu

[2016-11-25 05:00] LaxSlash commented on #40
Hello,

I found it generating this error:
[code]
![javaw_2016-11-24_23-50-57](https://cloud.githubusercontent.com/assets/4100287/20614830/f21051ac-b2a0-11e6-9312-b0f99dccf8a6.png)

That location is for the middle redstone... but I'm lost on where there should be a lever there?
I attached a schematic of my entire router and rails that I'm building for learning purposes, if you could possibly take a

[2016-11-25 20:44] LaxSlash commented on #40
Okay. So now, the issue is instead of the local updater running for too little of a time, it now runs seemingly indefinitely. All the stations have IPs, but yet the updater cart won't return back to garbage at all. The region updater went to garbage in exactly one hour.

[code]

And so on and so forth.

[2016-11-26 05:07] catageek commented on #40
Hi,

Correct me if I'm wrong, but this the log of a 'reset' region updater. The reset updaters run indefinitely, so this is normal.

You should run 'bcupdater region' to reconfigure the ring numbers, then 'bcupdater local' after to make sure that the stations IP are consistent with the loop there are in.

Please note that the 1 hour timeout is for big networks, it is safe to set it to 10 minutes i

[2016-11-26 19:35] LaxSlash commented on #40
That's `/bcupdater local 1 new` after about 2 hours of running. What I've been doing is watching the cart, and then once it runs through running `/bcupdater remove` - is this safe, or is there something else thatit does after first assigning an address to the stations?

[2016-11-27 05:20] catageek commented on #40
`/bcupdater remove` does nothing except turning all the updater carts into regular carts. It is safe in order to stop a update session.
So the issue is the local updater running apparently indefinitely ? If the job is done on the signs, just ignore it. There is probably a timeout, but it is too far in the future. Just an update after 1 hour adds 2 hours to the timeout. We need the entire session l

[2016-11-27 05:20] #40 closed

[2016-11-27 19:02] LaxSlash opened #41 "/bcupdater backbone not adding an address to the BC8020 signs."
Log:

[code]

East track is region 2, west track is region 1. North track is a closed loop, garbage is on the South track. Both Region 1 and Region 2 are configured.

[2016-11-27 23:03] thiefa commented on #41
hi laxslash,
thats not a problem, they dont get one

[2016-11-27 23:25] LaxSlash commented on #41
![javaw_2016-11-27_18-23-20](https://cloud.githubusercontent.com/assets/4100287/20652802/a3ef5934-b4ce-11e6-8e81-eb57929707d2.png)

This was taken in the sample world file... I'm lost on what makes some signs get addresses and others not?

[2016-11-28 00:05] thiefa commented on #41
hi,
i just checked back to my own world, as your statement irritated me..

i have addresses on the BC8020, but only where it connects to configured rings

As i have a few BC8020 span togeter to form an hugh fastpath with teleporting in between, i dont have any address between two BC8020.

so my statement is only half true.

sorry about that

so you should have an address on the BC8020 where it con

[2016-11-28 00:10] LaxSlash commented on #41
Yup, no addresses on any of them for me... region connected rings nor for the garbage collector.

[2016-11-28 00:22] thiefa commented on #41
hmm..
what version of mc do you run?
as till spigot 1.10 it worked for me, so its either with 1.11 or an mistake on your side somewhere..
gota have to run an updater on my network with 1.11 now to compare

i can also offer to look at it, although im not sure if i see something ingame

[2016-11-28 00:23] LaxSlash commented on #41
On MC 1.10.2

[2016-11-28 00:25] thiefa commented on #41
well,
it worked there for me, so it must be something with your setup.

well, bc aint easy and i still fight with it, yet still worth it ;)

if you like, i spy on your game to see if i see an issue

[2016-11-28 01:18] LaxSlash commented on #41
If you can take a look at it and see if you could figure it out, that'd be sweet.

[2016-11-28 02:23] thiefa commented on #41
send me the ip, and i will join in aprox. 18 hours..

[2016-11-28 05:42] catageek commented on #41
Hi all,

Backbone updaters do not write on signs, they only update the routing table of backbone routers.

Region updaters, when at the frontier of the region they meet a BC8020, write the region address in the form "N.0.0" on the BC8020 sign connected to the region, but this is purely informational and is not really used in route computation.

I wonder why the sample world file has this, probably

[2017-01-14 12:52] thiefa opened #42 "Multible backbones"
Hi Catageek,

can you tell me if its possible to have multible backbones that connect the same regions?

My setup is that i have made regions of each 10k blocks in diameter, connected with a teleporter enhanced backbonerail in the middle of each region.
so far that works  like "i never ever will miss that railway anymore" but now that the habitable spaces closes to the boarder of some regions, i w

[2017-01-16 18:03] catageek commented on #42
Hi Thiefa, and Happy New Year !

You can have as many backbones as you want. To connect a second backbone to a region, link the 8020 router of the backbone to any 8010 router in the region with some rails, place yourself between the 2 routers and launch the bcupdater region from this point toward the region as if it was a new region, i.e either force X.0.0 as address on the 8010 sign or leave it b

[2017-01-16 22:57] thiefa commented on #42
ahh..
ok, thanks for the detailed explanation, wasnt to sure about that multible backbone thingy :)
thats just awesome  :)

just 1 little more bugging for now ;) :
if i would make an recycler on any separatet Backbone because i just connect 2 or 3 regions, thus got 1 connection free anyway, then im fine with 0.0.0 as they just would go to the nearest backbone anyway, did i got that right?

as for

[2017-01-17 22:26] catageek commented on #42
Yes, that's OK to use 0.0.0 if you have a recycler in each backbone.

I will make an announce on Spigot, but I have to fix the damn pictures of the Wiki before. I am still procrastinating it. There is also a Sponge version of the plugin in preparation, but I am waiting the API to be mature before diving into the code.

I will also visit your server someday. Bytecart with bungee portals must be gre

[2017-01-17 22:26] #42 closed

[2017-01-29 02:57] ardentcrest opened #43 "Minecraft 1.11.2 errors"
I'm getting

23:08:00] [Server thread/ERROR]: Error occurred while enabling ByteCart v2.9.4 (Is it up to date?)
java.lang.NullPointerException
	at com.github.catageek.ByteCart.plugins.BCHostnameResolutionPlugin.onLoad(BCHostnameResolutionPlugin.java:60) ~[?:?]
	at com.github.catageek.ByteCart.ByteCart.onEnable(ByteCart.java:91) ~[?:?]
	at org.bukkit.plugin.java.JavaPlugin.setEnabled(JavaPlugin.jav

[2017-01-29 12:04] thiefa commented on #43
Hi,
im Running on Spigot 1.11.2 too (just did the last version Update Yesterday) and i dont get that error.
My Java version is build 1.8.0_112-b15

[2017-01-29 21:43] ardentcrest commented on #43
mine is (build 1.8.0_121-b13)

[2017-01-30 18:11] catageek commented on #43
Hi,
It's probably because the Hostname Resolution plugin does not find the SQL provider. Select the right provider in the config file (it will default to sqlite if you don't mention explicitly 'mysql').
If you don't have a SQL provider, or don't want to use it, disable hostname resolution.

[2017-01-31 08:19] ardentcrest commented on #43
TY.

[2017-01-31 08:19] #43 closed

[2017-02-02 01:23] ardentcrest opened #44 "Something to fix if you update to 1.11.2 "exception while executing task 8""
01:22:06 [WARNING] [ByteCart] Plugin ByteCart v2.9.4 generated an exception while executing task 8
01:22:06 java.lang.NoSuchMethodError: org.bukkit.Server.getOnlinePlayers()[Lorg/bukkit/entity/Player;
01:22:06 	at org.mcstats.MetricsLite.postPlugin(MetricsLite.java:287) ~[?:?]
01:22:07 	at org.mcstats.MetricsLite.access$200(MetricsLite.java:53) ~[?:?]
01:22:07 	at org.mcstats.MetricsLite$1.run(Met

[2017-03-01 01:01] ardentcrest commented on #44
please update to 1.11.2

[2017-03-01 17:57] catageek commented on #44
Hello,
Please disable the metrics plugin by setting 'metrics = false' in the config file.
I will remove entirely the metrics plugin in the next release.

[2017-03-03 02:56] ardentcrest commented on #44
Thanks that worked.

Question. could there be a way to use the trains from the Vehicles (No resourcepacks needed!) plugin with ByteCart. As it would be nice to be in something that looks like a train when going from station to station :D

[2017-03-03 18:26] catageek commented on #44
I really don't know. I looked at the plugin page and the source code is private. Maybe you should ask in the Vehicles user forum.

[2017-03-03 18:26] #44 closed

[2017-03-03 23:19] ardentcrest opened #45 "constantspeed: true"
Hi. Me again

I have constantspeed set to true but the cart I'm in slows down and stops. carts with chests seem to work ok.

[2017-03-04 11:10] catageek commented on #45
Hi,

Do you have other plugins installed ? Try to deactivate them and test again. It's curious that only carts with passengers are affected.

[2017-03-04 11:47] ardentcrest commented on #45
just found they slow down but dont stop.
Will check other plugins

[2017-03-04 12:41] ardentcrest commented on #45
All plugins deactivated, apart from bytecart still slows down to a crawl. and when I jump out of it it speeds up again.

[2017-03-04 23:06] ardentcrest commented on #45
PS just to let you know I did a mego 2.2.5 (the farm) from across the map. climbed aboard a train from Vehicles (No resourcepacks needed!) and arrived at the farm :D

[2017-03-04 23:34] catageek commented on #45
I could reproduce the bug, but I have currently no idea of the cause. I need to investigate.

[2017-03-04 23:42] ardentcrest commented on #45
As traincart is no more I really want to use your plugin. so until you find a fix it looks as im going to have to use power rails for the time been.

[2017-03-06 12:28] ardentcrest commented on #45
Hi. Do you know of any online severs that use your great pluigin.

[2017-03-06 16:30] ardentcrest commented on #45
Sorry :). another some more questions.

is there a way to hide the blocks with the redstone at the stations so you just see the tracks.
and

I want to place alot underground. does the chest in the air above the router have to be there or can it be put somewhere else.

[2017-03-06 18:38] catageek commented on #45
Hi,
@thiefa has a great server that uses my plugin and is usually happy to help Bytecart users. Unfortunately I lost the address of his server. He is also thief001 on bukkit.org, and probably a user of mcspigot forum. You may contact him there.

To hide the redstone in the stations, you must know that the plugin only activate the lever on the left or on the right of the sign. You can change the le

[2017-03-06 21:52] catageek commented on #45
Seems that 1.9.4 is not affected, while 1.10.2 is affected. I still don't have any clue.

[2017-03-08 01:51] ardentcrest opened #46 "anticollision and another"
I dont know if its me. but when a cart or train is leaving a station and another is about to pass the ones coming out of the station stop ( i know this is the anticollision ) but they do not move again at all, they also can not be moved in any way, it is like they are stuck to the track.

also on the smaller stations if I try to put 4 carts together to make a train they start off before I can give

[2017-03-08 05:40] catageek commented on #46
For anticollision issue, tell me the position in your server where I can see what is going on, I will connect later.

For the trains, you have the choice between TrainCarts plugin to make them simple, or to use the complicated train management of ByteCart. you can use a BC7001 chain to stop the carts individually. I advise you to use Traincarts. Traincarts trains are compatible with ByteCart and s

[2017-03-08 08:04] ardentcrest commented on #46
my server is at delos.zapto.org:25565 world a. Could be laggy, my up load speed has gone to shit lately
and traincarts does not work in 1.11.2 (has not been updated since 1.8.4 - 1.9)

[2017-03-08 20:53] ardentcrest commented on #46
when i moved the chestcart

20:50:34 [SEVERE] **** THIS IS NOT AN ISSUE TO DO WITH PER WORLD PLUGINS ****
20:50:34 Could not pass event VehicleCreateEvent to ByteCart v2.9.4
20:50:34 org.bukkit.event.EventException
20:50:34 	at us.Myles.PWP.TransparentListeners.PerWorldPluginLoader$1.execute(PerWorldPluginLoader.java:122) ~[?:?]
20:50:34 	at org.bukkit.plugin.RegisteredListener.callEvent(Registere

[2017-03-08 21:24] ardentcrest commented on #46
inter net goes up and down here going to viber next few weeks. I had two things i wanted to show you :)

[2017-03-08 21:25] ardentcrest commented on #46
internet goes up and down here a lot. going to viber next few weeks. I had two things i wanted to show you :)

[2017-03-09 20:05] catageek commented on #46
This is a bug in craftbukkit/spigot. It happens when you instantiate a cart directly on a BC sign. Thanks for reporting it

[2017-03-09 21:14] ardentcrest commented on #46
did you ger much lag when you went to my server and do you have one.

[2017-03-10 18:21] catageek commented on #46
I don't have a server and, yes, there was a lot of lag. I will see later when I connect if there is still lag.

[2017-03-13 01:34] ardentcrest commented on #46
As train cart is no more. I needed a stop go station for a metro type line. I got it done with a station sign, a stop/start sign and a hopper timer :)

I would love to know if you are going to update bytecart, and what you hope to do with it.

[2017-03-14 19:12] catageek commented on #46
I will update soon, and I only maintain the compatibility with MC versions since I don't play minecraft anymore and have not much interest in coding this plugin like 4 years ago.
Anyway there will be a Sponge version when Sponge will be more mature.

[2017-03-14 19:12] #46 closed

[2017-03-22 02:12] ardentcrest opened #47 "Portals"
Hi, catageek.

Is it possible to send carts though a portal. if so how.

[2017-03-23 05:21] catageek commented on #47
Hi,

Yes, Bytecart is compatible with portals that can send carts with their contents in another world or another server.

I never did it but I know that @thiefa successfully dit it with Bungee. How to do it is more a portal issue than a bytecart issue : just send the carts through the portals.

[2017-03-23 05:21] #47 closed

[2017-03-23 21:13] thiefa commented on #45
Hi catageek,
would be sweet if that chest could go hidden :) :) :)

had some users that where complaining about it, esp. since its a double chest and thus not sitting in the middle of the core. no way to mask her properly in a pillar...

my server runs at pia.hopto.org:25566 ;)
guest accs are enabled, so looking around and having a ride is gogo ;)

always happy to help, hopefully makes catageek ke

[2017-03-23 22:01] #45 closed

[2017-03-23 22:07] #41 closed

[2017-03-24 17:04] catageek commented on #45
@thiefa This will be my next commit, and a release soon.

[2017-03-25 19:19] catageek commented on #45
@thiefa Double chests are not mandatory and can be replaced by Simple chests.

[2017-03-27 18:18] thiefa commented on #45
Double chests are not needed in 3.0.0 anymore, or never where?

just always saw the routers in your tut-world and everywhere with double chest, so i dint even think about trying single chest routers

o my, someone has to go and cut alllooot chests ^^
*grabs wood saw*

[2017-03-27 21:27] catageek commented on #45
@thiefa In fact they were never needed since the start, but in ByteCart 1.0 (back in 2013) I used the material in the inventory to code the routes, so I needed some large capacity. I never had the idea to show that a simple chest was enough since 2.0, like I never had the idea to put it below the router.

[2017-04-14 12:18] ardentcrest opened #48 "Things gone missing"
Hi, hope things are well.

I cant seem to fine your website or any info on bukket or spigot about the plugin. I also cant seem to find the world download.

I see you have done a bit of work so will there be a jar file I can download.

PS there will soon be a new version of Traincarts I'm testing it at the moment.

[2017-04-15 13:23] catageek commented on #48
Hi,

Plugin page has moved to [Spigot](https://www.spigotmc.org/resources/bytecart.39493/). There will be a new version soon, I am currently updating the documentation.

You can download the new version [here](http://catageek.free.fr/bytecart/maven/repositories/snapshots/com/github/catageek/ByteCart/) if you want to test it.

[2017-04-15 13:23] #48 closed

[2017-04-23 20:02] thiefa opened #49 "Pathfinding issue with V3"
Hi,
just updated to test your lastest v3 ByteCart-3.1.0-20170415.132119-1.jar, (Spigot 1.11.2) but since i have it on server, the carts stuck everywhere between routers and dont find there ways to the destination anymore.

[2017-04-24 13:05] ardentcrest commented on #49
My dont get stuck, they do go to its destination, but does not go in to the station but just keeps going past the turn for it.

[2017-04-24 19:48] catageek commented on #49
@thiefa You do not use the last version, the snapshot you use has a bug. Please download the last version from spigotmc repository.

@ardentcrest your issue is not related to this one... The carts don't stop if the lever next to the platform is on. You must swith off the lever after you make leave a cart, or replace the lever by a button.

[2017-04-24 21:15] thiefa commented on #49
Hi catageek,
yep, pathfinding works now :)

however, BC9001 Station signs dont switch to let carts get in to the station, even if the ticket matchs.. i get the message, but nothing happens else.. if i try with a wrong one, i dont get in either. so they are not just switching inverted.
also the BC9037 and BC9137 dont switch the track.

[2017-04-25 17:56] #49 closed

[2017-06-05 20:57] thiefa opened #50 "Error when carts get over an 8010 router"
hi gatageek,
i get errors like this when a cart enters (only some?? ) old 8010 routers:

`Caused` by: java.io.EOFException: End of input at line 600 column 16
        at com.google.gson.stream.JsonReader.nextNonWhitespace(JsonReader.java:1377) ~[spigot.jar:git-Spigot-3fb9445-6e3cec8]
        at com.google.gson.stream.JsonReader.doPeek(JsonReader.java:538) ~[spigot.jar:git-Spigot-3fb9445-6e3cec8]

[2017-06-06 19:19] catageek commented on #50
Hi thiefa,

This is probably an error in the format of the routing table. Please remove the book in routers where you get the error and run 'bcupdater region' to rebuild the routing table. I think this will fix the error.

Tell me if I'm wrong.

catageek

[2017-06-06 20:29] thiefa commented on #50
hi catageek,
that's the solution i came up with too.

while its working, and im running an updater, i still wonder why the tables got screwed up in the first place..

so while this is solved, i abuse this issue page to add some suggestions aswell.. i repost as a new issue if you prefer.

for a future bc release:
1: is there a way to make bc aware of where updaters are, and add a command to locate/

[2017-06-11 17:24] catageek commented on #50
Hi @thiefa,

Thanks for the report. I am not currently in a Dev run because of IRL summer activities. I keep the ticket open as a reminder.

You can use 'bcupdater remove' to remove the updater property of a cart when it will pass on any BC sign. This does not remove physically the cart, but stops the update immediately.

For the point 3, I am afraid I will not put this in my TODO list.

Catageek

[2017-06-11 18:57] thiefa commented on #50
thank you so mutch for that /bcupdater remove !!
saves hours on checking for updaters when the updater icons vanish!

Sidenote:
with dynmap 2.5 updaters are visible again, even on the run..
however, it still happens that after some time the icon disappears, even if the updater is on a run...
not sure if its when he runs in a timeout, or something else...

also i still have that java error... i del

[2017-06-13 17:49] catageek commented on #50
For the corrupted table, could you check the book in the router that triggers the error and tell if something is missing (a bracket, a comma or a parenthesis) ? I wonder if the json format is compatible with the book, because the error tells that this is not the json file expected. The binary format never caused an issue, maybe I should revert to it.

[2017-06-17 13:41] thiefa commented on #50
hi catageek,
sorry for the long delay.
was updating to 1.12 aswell, so running your latest update and spigot 1.12.
just updated everthing like an hour ago.

as for the error: still having it..

took out the book on a faulty router (50 pages, yay..)

so far anything looked well, besides the last page witch is left "open":
it ends with:
"155": {
 "routes": {
   "173": [

so it seems it dosent close

[2017-06-19 17:10] catageek commented on #50
Hi @thiefa

I think you're right about the 50 pages hard limit, it is documented and I did not really took it in consideration. Your server has more routes than my test server.

I think I will revert to the binary format when there are more than 50 pages to avoid this.

[2017-06-19 19:44] catageek commented on #50
@thiefa

Please  try this [fix](http://catageek.free.fr/bytecart/maven/repositories/snapshots/com/github/catageek/ByteCart/3.1.2-SNAPSHOT/ByteCart-3.1.2-20170619.193355-1.jar)

Please put `debug = true` in the config file, remove the corrupted books and run `bcupdater region`. The routing tables should be JSON-formatted at first, then in binary format when 50 pages are reached.

If you got an erro

[2017-06-20 17:41] thiefa commented on #50
Hi catageek,
Still had the error somewhen this night.
Unfortunatly i was asleep at that time and did not set debug to true, so i cant deliver the routers table or debug info.

i set debug to true now and let the updater run just as i write this lines.. will keep an eye on it, so i see where it breaks to have a look at the router table and time of the error to give you the right snipped of log file

[2017-06-20 20:07] thiefa commented on #50
[21:51:39 WARN]: java.io.IOException
[21:51:39 WARN]:        at com.github.catageek.ByteCart.FileStorage.BookOutputStream.flush(BookOutputStream.java:82)
[21:51:39 WARN]:        at com.github.catageek.ByteCart.FileStorage.ItemStackMetaOutputStream.flush(ItemStackMetaOutputStream.java:45)
[21:51:39 WARN]:        at com.github.catageek.ByteCart.FileStorage.BookFile.flush(BookFile.java:172)
[21:51:39

[2017-06-20 20:09] thiefa commented on #50
the book this happens has 33 pages and is all binary.. it ends with "AAAAAAAAAA="

[2017-06-21 17:46] catageek commented on #50
Thanks @thiefa

What I see is that the routing table is fixed for the moment, but the issue is with the updater that try to store a book with more than 50 pages, and triggers an exception (instead of failing silently as before)

What i don't understand is that it used to work before.

Could you please give me the previous log similar to this one before 21:21:17:

what I want to see is how many byt

[2017-06-21 18:45] thiefa commented on #50
Hi catageek,
thats the bytecart message befor the error:
[21:50:34] [Server thread/INFO]: ByteCart: BC7006.trigger()
[21:50:34] [Server thread/INFO]: ByteCart: loading player inventory :test_user111
[21:50:34] [Server thread/INFO]: ByteCart: BC7006.trigger()
[21:50:36] [Server thread/INFO]: ByteCart: BC7007.trigger()
[21:50:36] [Server thread/INFO]: ByteCart: BC8010.trigger()
[21:50:36] [Server th

[2017-06-21 18:52] MrKiller01 opened #51 "Few problems that i find odd"
Hi, at first, at almost the exact same time as a colleague, dynmap stopped showing updater carts throughout the dynmap world. It shows the players, stations residence areas etc... Not the updater that is active.
2nd is the lack of 'find any updater still active' option. I really miss this the bigger the tracks get, the harder it is to keep track...
3rd why does updater cart keep getting the same r

[2017-06-21 19:16] thiefa commented on #51
hi,
as for your question 1:
its solved on my server with the lastest dynmap-head
(besides a bug when the updater still updates after some kind of timeout, where the updater icon stays on place on dynmap)

as for q2:
theres a command to remove the property of the updater, so hes just an simple chestcart.
its still not locatable, but it makes sure you can launch another updater after some time witho

[2017-06-21 21:54] catageek commented on #50
I made a [fix](http://catageek.free.fr/bytecart/maven/repositories/snapshots/com/github/catageek/ByteCart/3.1.2-SNAPSHOT/ByteCart-3.1.2-20170621.214321-3.jar) for the routing table, but unfortunately the updater need more work. It has reached its maximum capacity on your server.

As a workaround, the updater is invalidated if it is corrupted to avoid the corruption of routing tables. Relaunching i

[2017-06-21 23:21] thiefa commented on #50
sorry for making you so mutch work :(

but great plugins need alot work ;)

[2017-06-22 17:37] catageek commented on #51
For q2, I can make a command that will tell the last known position of updaters.

For q4: Bytecart has only a logical view of the network, and activates levers for routing carts. It does not know what a rail is. If rail verification were to be done, it will be a huge work since all the physical network must be modelled. It's also a completely different plugin.

[2017-06-22 17:37] #51 closed

[2017-06-22 18:28] thiefa commented on #51
hi catageek,
a command to get the last know position of updaters would be really awesome :)

[2017-07-23 22:10] thiefa commented on #50
hi catageek,
i'm still trying to update the network, running carts from different locations on the network, but pretty soon after launch (when it hits an already updated router) i get this:

`[23:25:03] [Server thread/INFO]: ByteCart : Route exchange : give ring 166 with metric 384 to SOUTH
[23:25:03] [Server thread/INFO]: ByteCart : Route exchange : give ring 168 with metric 384 to SOUTH
[23:25:0

[2017-07-24 17:28] catageek commented on #50
Hi @thiefa
My plan is to put books in all the slots available, which will multiply by 27 the capacity.

The reason why the file is in the book is because the book can cross inter-server portals. An on-server storage would break the inter-server capacity.

I will try to release a development version before the 5th of august.

[2017-07-27 09:18] thiefa commented on #50
hi catageek,
thanks for the explanation,
makes alot sense, i did not thought about inter-server, even when i use a bungee myself *shame on me*

gona cuddle you, if you could manage it (even if it gets later then 5. august)  ;)

greetz thiefa

[2017-07-28 22:12] catageek commented on #50
Hi @thiefa

Please test [this](http://catageek.free.fr/bytecart/maven/repositories/snapshots/com/github/catageek/ByteCart/3.1.2-SNAPSHOT/ByteCart-3.1.2-20170728.220730-5.jar), it should work now. I expanded the storage to all slots, and I add books if needed. I made some unit tests that worked perfectly, now let's see how it works in real life.

catageek

[2017-07-29 00:31] thiefa commented on #50
hi catageek,
updater is on a run, so far everything goes well.

ill post tomorrow evening the results, going for a nap now, and let him run..

*pre-cuddles catageek" ;)

[2017-07-29 00:31] #50 closed

[2017-07-29 05:54] #39 closed

[2017-09-14 10:43] itskun opened #53 "Selecting cart issue"
So, how do I choose a cart, if the right click action is performed, for example, opens the chest.
I'm writing a command /sendto 1.1.2, then I have a message "Select a chest cart", right-clicking to a cart opens the chest...

[2017-09-14 13:32] thiefa commented on #53
/sendto x.x.x  and then right clicking a cart works for me...
adds the ticket to the cart, and does not open the inv in the first place.

spigot 1.12.1 and latest bc

[2017-09-14 17:14] catageek commented on #53
Only possible cause I see is that another plugin is cancelling the event of right-clicking before ByteCart can catch it.
Please search for the plugin that triggers this behaviour, to see if we can work on this issue

[2017-09-15 06:00] itskun commented on #53
Okay, it remains to find out what kind of plugins are these.

[2017-09-15 20:28] itskun commented on #53
I searched that Railcraft triggers this behaviour.
Thermos-1.7.10-1614-56-server.jar
Railcraft_1.7.10-9.12.2.0
ByteCart 2.7.5

[2017-09-16 10:04] catageek commented on #53
I think I found the problematic line [here](https://github.com/Railcraft/Railcraft/blob/aba7703d2480073998c5a8a02ad2802362fefaba/src/main/java/mods/railcraft/common/fluids/CustomContainerHandler.java#L48)
The fix should be trivial and I will make a new release in a few days. In the meantime, you can use /mego and manually transfer the ticket from your inventory to the chest.

[2017-09-26 09:58] MrKiller01 opened #54 "Just wondering......"
Hi Catageek,

I was just wondering who complained at MD_5's adres about me harassing people. Was it the private messages or the almost nonstop updating error fabrication i planted online? It is to your knowledge that i was banned by that child, and he never gave me a reason as to why. Now i have premium material on spigotmc, which is inaccessible to me now, if it was your action, please reconsider

[2017-09-26 12:01] MrKiller01 commented on #54
getting still errors, so, gonna unload it, again.... Shame...

[2017-10-01 17:31] catageek commented on #54
I don't know what you are talking about. Clearly not my business.

[2017-10-01 17:31] #54 closed

[2017-10-02 09:29] MrKiller01 commented on #54
Thanks anyway for answering. But I still have errors using Bytecart.... Hope in the future we can have a chat about it...

[2017-10-04 04:46] catageek commented on #53
Hi @itskun

Please download and try this [update](http://catageek.free.fr/bytecart/maven/repositories/snapshots/com/github/catageek/ByteCart/3.1.3-SNAPSHOT/ByteCart-3.1.3-20171004.044301-1.jar)

[2017-10-08 17:55] itskun commented on #53
Unfortunately, I can't check because I have 1.7.10 server.

[2017-11-12 18:05] MrKiller01 opened #55 "This is my latest attempt to let the /bcupdater region 1 do its job. No way it succeeds"
[PartofLog.txt](https://github.com/catageek/ByteCart/files/1464960/PartofLog.txt)
This is a part of my log today where some problems are, signs are not being numbered after the error on the server, so it runs in circles....

[2017-11-12 18:38] catageek commented on #55
Hi,

The routing tables are corrupted. "Slot 0 is not empty" means that the chest of the router contains something that Bytecart does not recognize at slot 0. The other errors with EOF exception are related to the content of the routing tables.

The best you can do is to clear the chests manually where the error occurs and restart the update.

[2017-11-12 21:03] MrKiller01 commented on #55
Thanks for responding so fast, sorry to say but i do not quit understand where this slot 0 is....
And I have another little thing... The point to where I am starting the update is on a router. Everytime i've tried to make it work, the updater fails to give the starting router a number.. What can i do about it?

[2017-11-12 21:51] MrKiller01 commented on #55
And then it still allowed double numbers. So I tried your option to remove all with /bcupdater reset_local 1 full.... and I tried 3 of them carts at the same time, then it gave again the error slot 0, so I tried to stop them all and wanted to do it by hand, so I /bcupdater remove... could not have more text running over the console to fill the screen, in other words, Bytecart crashed completely th

[2017-11-13 08:29] MrKiller01 commented on #55
Hi Catageek,

This morning i loaded the plugin and started to clear the system... I had yesterday removed all books from the 30 routers chests. This is what happened...
[09:11:29 INFO]: Mr_Killer01 issued server command: /bcupdater reset_local 1 ful
l
[09:11:41 ERROR]: Could not pass event VehicleMoveEvent to ByteCart v3.1.2
org.bukkit.event.EventException: null
        at org.bukkit.plugin.java.J

[2017-11-14 18:05] catageek commented on #55
Hi @MrKiller01 ,
This last error is because the router is not configured and you send a local updater. only a region reset updater will solve the router problem, give up with trying local updaters, this is not relevant.

try /bcupdater reset_region 1 full instead and let it run for a long time, until all it has passed on all the signs of all routers.

Once done, follow the tutorials that are linke

[2017-11-15 08:54] MrKiller01 commented on #55
Hi Catageek,

I started yesterday to do your option, /bcupdater reset_region 1 full and i watched it go for a long time. Unfortunately over night the server was restarted, reason unknown, but now i have on my dynmap another red circle with a white hammer and wrench in the dynmap, that makes four of them now, and do not move, either is there a cart....
When i tried to remove any left-over bcupdater

[2017-11-15 18:02] catageek commented on #55
Hi,
you have this error because the server restarted and the plugin did not initialize the updater manager object since no updater was created in this session. If you create an updater, you won't have this error anymore until the next reboot.

[2017-11-15 19:01] MrKiller01 commented on #55
Thanks for responding so clearly. I just have this problem i told, and it won't go away... (...but now i have on my dynmap another red circle with a white hammer and wrench in the dynmap, that makes five (5) of them now, and do not move, either is there a cart....) Do you have any idea how to fix this? Is there a method to tell Dynmap that there are no updaters (when there are non active?) and as

[2017-11-15 21:12] MrKiller01 commented on #55
I feel so sorry to bother you with the same kind of errors...... I really am... but I did what you told me to do, and after the reboot i started the /bcupdater reset_region 1 full and the cart went on one track and came back in the dump. So I checked if there were numbers on the routers, there were still some, so I started again and noticed it went the other way, but now there was no sign of the c

[2017-11-16 18:15] catageek commented on #55
Hi @MrKiller01

This time it is because the cart that passed on this BC8010 sign was not an updater but a normal cart that had nowhere to go because the sign was blank. Maybe you had a cart somewhere moving around. It's a good sign that normal carts do that after a reset.

You may want to set 'debug = true' in config.yml to get more precise logs, especially when you launch an updater. It will be e

[2017-11-16 19:49] MrKiller01 commented on #55
AAAAAAWsome, thanks for that valuable info. You should put that on the websites page of Bytecart, I think it would serve many people.....
I will also change the debug option and give it a /bcupdater region 1  command to hopefully let all routers in the system getting their rightfull number....

Thanks...

[2017-11-16 21:23] MrKiller01 commented on #55
I made a mistake, aparently, the /bcupdater region 1 returned directly into the trash because there were no adresses in the routers. So it gave an error and told me that I needed the new option; /bcupdater region 1 new  So it went out the right way....
The option /dmarker deleteset Bytecart had no positive effect, but i deleted the makrer, the updater with this command /dmarker deleteicon updater

[2017-11-17 18:45] MrKiller01 commented on #55
Hi, I waited one day on completing the /bcupdater region 1 new... but now it is running in circles over a number of routers and does not comply to levers I pull to steer it in another direction... As you told me to turn debug on, so I did. I will keep it running, until I hear from you....

[latest - Copy.zip](https://github.com/catageek/ByteCart/files/1483433/latest.-.Copy.zip)

[2017-11-19 13:28] MrKiller01 commented on #55
Because of updates it is needed  for me to restart my server and therefor stop the Minecraft server... I really would like to know what to do with this circle-running-cart.... There are still routers where this cart did not go to, and will not after two days....
Hope to hear from you soon.

[2017-11-19 18:32] MrKiller01 commented on #55
My server did a restart but i could block the updater cart on the track. On dynmap it gives the updater logo, but i do not think it is connected to the cart. What shall I do?
Because the updater is not finished, shall I:
/bcupdater region 1 new      or
/bcupdater region 1             or
/bcupdater local 1
Please advise...

[2017-11-20 18:36] catageek commented on #55
the right command is /bcupdater region 1.
You should also check also the signs where the previous updater was running in circle. If it did not cross a router but stayed between 2 routers, there are only the 2 signs to check. They must display the same address. Just erase one or the two if they do not match.

If the updater was crossing a router, you should check the signs of the router crossed. Th

[2017-11-22 19:34] MrKiller01 commented on #55
I checked the route and it was and still is running over 5 routers. On every router I checked if the routes appointed to the routers signs were correct on the other side. I found that one track had been given the same number on a not connected track, while on the otherside three out of four routersigns were not yet adressed.  I made that one clear and the cart is still running the same tracks.

I

[2017-11-23 03:43] catageek commented on #55
yes, /BCUPDATER LOCAL 1 will renumber the local stations, but needs the router configuration to be completed and working.

For the router that is never crossed (that is what I understand), remove also the book in the chest along with the erasure of the signs before running a new updater. This should clean old artefacts that I believe are in the book. If the router is fixed, leave the updater run t

[2017-11-30 22:50] MrKiller01 commented on #55
I've been a few days off the grid, and I hope coming weekend I find the time to try things you suggested.

[2017-12-04 11:55] MrKiller01 commented on #55
Hi, ive been trying to get it right.
1) Do i need to start every time from the starting point?   (Earlier I did and that's where it all went wrong in the first place, it numbered up from there instead of where it has left numbering, that was a much higher number. It started to give double adresses that were given away to routersigns before!)
2) It looks as if I have to start all over, I could remo

[2017-12-04 18:46] catageek commented on #55
You need to start from the same place (i.e in front of BC8010 or BC8011 sign with '1.0.0' address, where you had to type the 'new' option) if the configuration is not complete. If it was interrupted because trapped in a loop, then this is the case.

Signs have priority over routes in the book, so we assume that address on signs are good.If the chest is missing, routes will be reconstructed from th

[2017-12-05 09:05] MrKiller01 commented on #55
For that I need your IGN, so that I can appoint you the rights to make a difference...
www.druifjes.nl:25555    Leave a /mail send Mr_Killer01 and tell your name, surname and IGN.... I would not be happy when someone who is making disadvantage of this situation by imposing as you. Send also your E-Mail adres so that we can establish communication on that first level.... (this is too public, and th

[2017-12-14 08:29] MrKiller01 commented on #55
Yesterday I had finally the time to check all routersigns, they were with the exception of two looped routes all clear.  I had not seen you at the gates of my server.. maybe the month December is a bit busy... does not matter if you get back to me after new year, gives me some space too... Happy holidays to you and yours!

[2018-03-05 20:21] thiefa opened #56 "Issue locating a stuck cart on the Network"
Hi catageek,
i still have the higher level of debug messages enabled, else i might not have noticed this:
i get console spamed a message of a cart "coming from NORTH going to NORTH" obviously this cart is somehow stuck on a dead end on a router, doing endless loops, since it gets triggered every few seconds

Now my issues are:
- in what world
- what are the routers coordinates, so i dont have to c

[2018-03-06 19:44] #56 closed

[2018-03-06 19:44] #53 closed

[2018-03-23 12:21] MrKiller01 commented on #55
For your information, with pain in the heart i stepped outside Bytecart, it had too much problems. Sorry, your hard work and patience will absolutely be appreciated by me.
Thanks for all you done but I hope that in the near future I can reinstall it as a flawless working plugin, it has so much potential....
Thanks.

[2019-01-07 19:51] thiefa opened #58 "let updater render the tracks on dynmap as layer"
hi catageek,
i wonder if it would be possible to let the updater add the layout of the tracks to a dynmap, so dynmap renders routers and tracks automaticly as a seperated layer once an updater drove down a track.

a layer per region (in different colors drawn), and maybe one for region 0 routers would be nice :)

or is the a working 1.13.2 plugin out there, with what i could make that visible?

[2019-01-14 16:17] catageek commented on #58
Hi @thiefa
This is an excellent idea, and very easy to code. Just wait for the next version.

[2019-01-14 16:18] #55 closed

[2019-01-16 21:11] thiefa commented on #58
started to make it with dynmap directly (dmarker command), however it seems the few latest versions dont support as many markers as i would need :D

opend an issuetracker for that on the dynmap repo aswell.

[Dynmap Website of my Server](http://pia.hopto.org/dynmap)

[2019-02-04 22:17] thiefa opened #59 "BC7001 Signs stopp carts all the time"
Hi catageek,
Stumbled across another issue..
Used Versions: Latest BC and spigot compiled

duno how long is already been there:
no mater what state the power of a BC7001 Sign is, the cart gets always stopped on the first sign
the log only shows:
[23:09:28 INFO]: ByteCart: BC7001.trigger()

got that issue with stations that had worked when i build them, aswell as with newly build ones.

To make sur

[2019-04-15 17:14] alaskascooter opened #60 "BC7008 duplicates items"
Several tests show when 7008 is used on Spigot 1.13.2, items are duplicated if config is set to keep items true.

Interestingly enough, this dup has consistently been (N*2)-1, or if you start with 64, you end up with 127 instead of 128.

Have to set keep items to false for now.

[2019-08-06 21:06] thiefa opened #61 "BCUpdater (and other carts) dont load junks automaticly anymore in 14.4 (paper)"
as the title says, the carts dont move without players near. option to do so set.
the log shows:

``[00:50:40 ERROR]: Could not pass event ChunkUnloadEvent to ByteCart v3.2.1
java.lang.NoSuchMethodError: org.bukkit.event.world.ChunkUnloadEvent.setCancelled(Z)V
        at com.github.catageek.ByteCart.EventManagement.PreloadChunkListener.onChunkUnload(PreloadChunkListener.java:62) ~[?:?]
        at

[2020-07-11 18:09] thiefa opened #62 "BC8011 router dont switch tracks proper"
Hi catageek,
im happy to have those "new" 8011 routers, where theres no more redstone and chest visible,  so with the new nether update i wanted to use them for my nether railway, as we reseted the nether for good.

when it came to run the updater with the verry early nether routers, i figured that atleast the core of the router dosent switch proper, or not at all.

ill rebuild the routers about 3

[2020-07-13 18:22] thiefa commented on #62
Hello,
little update:
i used bedrock so save the "wires" from accidentally digging trough
since i changed that and just using bedrock as outer shell, everything works.

sorry for false positive.

[2020-07-13 18:22] #62 closed

[2022-06-25 16:50] gamerpogmandude opened #63 "hasnt been updated in like 5 years"
update please